@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden; /* 가로 스크롤바 숨기기 */
    background: url('Animation.gif') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'NEXON Lv2 Gothic', sans-serif;
    padding-bottom: 200px;
}

::-webkit-scrollbar {
    width: 10px;
    background: #390940; /* 트랙 배경 */
}

::-webkit-scrollbar-thumb {
    background: #FFA726;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFA726;
}

#back {
    text-decoration: none;
    display: block;
    width: 200px;
    height: 20px;
    margin-top: 15px;
    margin-left: 30px;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;
    color: #FFA726;
}

h1 {
    text-align: center;
    color: #FFA726;
    margin-top: 20px;
}

h2, h3 {
    
    margin: auto;
    margin-top: 50px;
    text-align: center;
    color: #FFA726;
}

hr {
    border: none;
    border-top: 1px solid #FFA726;
    margin: 10px auto;
    max-width: 1000px;
}

.main {
    color: #FFA726;
}

.main h1 {
    margin-top: 100px;
    text-align: center;
    color: #FFA726;
}

.main p {
    margin-top: 50px;
    text-align: center;
}

.main a {
    text-align: center;
    color: yellow;
}

.main .feature {
    text-align: center;
}

.main .feature div{
    display: inline-block;
    width: 20%;
    height: 300px;
    text-align: center;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 50px;
    overflow: hidden;

}
.main .feature h4{
    text-align: center;
    margin-top: 20px;

}

.main .feature .first:hover{
    transform: translateY(-20px);
}

table {
    width: 800px;
    border: 1px solid #FFA726;
    border-collapse: collapse;
    padding: 10px;
    margin: 50px auto 0; 
}

th {
    border: 1px solid #FFA726;
    height: 30px;
    background-color: #FFA726;
}


td {
    border: 1px solid #FFA726;
    padding: 10px;
}

th:hover,
td:hover {
    background-color: lightgray;
}

img {
    display: block;
    margin: 50px auto;
    width: 800px;
    height: auto;
}

button {
    display: flex;
    justify-content: center;
    margin: 10px auto 0;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid #FFA726;
    color: #FFA726;
    margin-top: 20px;
}

button:hover {
    background-color: lightblue;
    cursor: pointer;
}

p {
    line-height: 1.5;
    margin-top: 6.4px;
}

.detail {
    margin-top: 50px;
    text-align: center;
}

.detail > details{
    margin: 30px;
}

.detail > hr {
    border: none;
    border-top: 1px solid #FFA726;
    margin: 10px auto;
    max-width: 800px;
}
