@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    background: url('Animation.gif') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'NEXON Lv2 Gothic', sans-serif;
    padding-bottom: 200px;
}

::-webkit-scrollbar {
    width: 10px;
    background: #390940;
}

::-webkit-scrollbar-thumb {
    background: #FFA726;
    border-radius: 10px;
}

ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    color: #FFA726;
    margin-top: 5px;
}

a, a:hover, a:active {
    text-decoration: none;
    display: block;
    width: 200px;
    height: 20px;
    margin-top: 15px;
    margin-left: 30px;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;
    color: #FFA726;
}

h1, h2, h3 {
    text-align: center;
    color: #FFA726;
}

hr {
    border: none;
    border-top: 1px solid #FFA726;
    margin: 10px auto;
    max-width: 1000px;
}

.main > img {
    display: block;
    margin: auto;
}

.main p {
    margin-top: 20px;
    text-align: center;
    color: #FFA726;
}